<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{- $title := .Site.Title -}}
{{- if not .IsHome }}{{ $title = printf "%s · %s" .Title .Site.Title }}{{ end }}
<title>{{ $title }}</title>
{{- $desc := .Description | default (.Summary | default .Site.Params.description) | plainify | truncate 160 }}
<meta name="description" content="{{ $desc }}">
<meta name="author" content="{{ .Site.Params.author }}">
<link rel="canonical" href="{{ .Permalink }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $desc }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta name="twitter:card" content="summary">
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<link rel="icon" href="/favicon-32.png" type="image/png" sizes="32x32">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,400;0,6..72,500;0,6..72,600;1,6..72,400;1,6..72,500&family=JetBrains+Mono:wght@400;500&display=swap">
{{- $css := resources.Get "css/main.css" | resources.Minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
{{- with resources.Get "css/syntax.css" }}
{{- $syn := . | resources.Minify | fingerprint }}
<link rel="stylesheet" href="{{ $syn.RelPermalink }}" integrity="{{ $syn.Data.Integrity }}">
{{- end }}
